## Edit this file as needed to override global settings

## This section controls logging options
[logging]

## Controls the verbosity of the overall system.
## Options, in order of increasing verbosity, are: 
##   { critical, error, warning, info, debug, notset }
#level=warning

## Controls the generation and parsing of HTTP requests
## and responses
[requests]

## Timeout for requests, in seconds
#timeout = 30

##
## FROM THIS POINT ON YOU SHOULD ONLY CHANGE THINGS IF
## YOU REALLY KNOW WHAT YOU ARE DOING.  THESE ARE
## SETTINGS THAT SHOULD ONLY CHANGE WHEN THE DEVELOPERS
## ADD OR MODIFY FEATURES
##
[base]

## Available output format codes
#output_formats = json,ncpaprop

[urls]

## The base URL for the remote G2S server system
#baseurl = https://g2s.ncpa.olemiss.edu/g2sv2

## URL pattern for a 'point' request
#point = %(baseurl)s/g2sdb/point/{year}/{month}/{day}/{hour}/{lat}/{lon}/{outputformat}/

## URL pattern for a 'line' request
#line = %(baseurl)s/g2sdb/line/{year}/{month}/{day}/{hour}/{lat}/{lon}/{endlat}/{endlon}/{points}/

[requests]

## Chunk size in bytes for parsing streaming responses
#chunksize = 200

## HTTP return status indicating an internal error with the G2S system
#error_status = 422

## HTTP return status indicating successful processing
#success_status = 200

## Expected text encoding of binary returns
#encoding = utf-16

