[logging]
level=warning

[base]
output_formats = json,ncpaprop

[urls]
baseurl = https://g2s.ncpa.olemiss.edu/g2sv2
point = %(baseurl)s/g2sdb/point/{year}/{month}/{day}/{hour}/{lat}/{lon}/{outputformat}/
line = %(baseurl)s/g2sdb/line/{year}/{month}/{day}/{hour}/{lat}/{lon}/{endlat}/{endlon}/{points}/

[requests]
timeout = 30
chunksize = 200
error_status = 422
success_status = 200
encoding = utf-8