[logging]
level=warning

[requests]
timeout=30
temp_dir=/tmp

[base]
output_formats = json,ncpaprop
default_format = json

[urls]
baseurl = https://g2s.ncpa.olemiss.edu/g2sv2
point = %(baseurl)s/g2sdb/point/{year}/{month}/{day}/{hour}/{latitude}/{longitude}/{outputformat}/
line = %(baseurl)s/g2sdb/line/{year}/{month}/{day}/{hour}/{startlatitude}/{startlongitude}/{endlatitude}/{endlongitude}/{points}/
raw = %(baseurl)s/g2sdb/raw/{year}/{month}/{day}/{hour}/
grid = %(baseurl)s/g2sdb/grid/{year}/{month}/{day}/{hour}/
star = %(baseurl)s/g2sdb/star/{year}/{month}/{day}/{hour}/{latitude}/{longitude}/{radius}/{azimuth_step}/

[requests]
chunksize = 2048
error_status = 422
success_status = 200
encoding = utf-8